@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: poppins;
    overflow:  hidden;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to right, #53bcff, #307ce1, #396fe6);
    height: 15vh;
}

nav{
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #53bcff, #307ce1, #396fe6);
    height: 8vh;
}

nav button, .sair{
    background: none;
    border: 2px solid white;
    color: white;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sair{
    position: relative;
    left: 470px;
}

a{
    color: inherit;
    text-decoration: none;
}

nav button:hover, .sair:hover{
    transform: scale(1.1);
    color: rgb(255, 170, 0);
    border-color: rgb(255, 178, 0);
}

nav button:focus{
    color: rgb(255, 170, 0);
    border-color: rgb(255, 178, 0);
}

#listar, #adicionar, #alterar, #remover{
    align-content: center;
    height: 77vh;
    width: 100vw;
    color: white;
}

form div{
    display: flex;
    flex-direction: column;
}

form{
    width: 100%;
    height: 340px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listar, .adicionar, .alterar, .remover{
    height: 400px;
    width: 300px;;
    background: linear-gradient(to right, #53bcff, #307ce1, #396fe6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 40%;
    border-radius: 15px;
}

.titulo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #53bcff;
    width: 100%;
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

input{
    border-radius: 10px;
    border: none;
    height: 20px;
    padding: 10px;
    position: relative;
    width: 230px;
}

form button{
    margin-top: 20px;
    background: white;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 10px;
}

#livroImage{
    cursor: pointer;
}

.input-img{
    display: flex;
    width: 250px;
    position: relative;
    left: -8px;

    label{
        position: relative;
        left: 10px;
        top: 9px;
    }
}

.b-add{
    background-color: rgb(12, 153, 12);
    color: white;
}

.b-alt{
    background-color: rgb(228, 194, 0);
    color: white;
}

.b-remove{
    background-color: red;
    color: white;
}